
.container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  
  .square {
    width: 100px;
    height: 100px;
    font-size: 3em;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    color: black;
    background-color: #88ce02;
    cursor: pointer;
  }

  

.box {
        margin: 10px 0;
        background-color: #28a92b;
}