
.container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  
  .square {
    width: 100px;
    height: 100px;
    font-size: 3em;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    color: black;
    background-color: #88ce02;
    cursor: pointer;
  }

  

.box {
        margin: 10px 0;
        background-color: #28a92b;
}
.spinBox {

        display: flex;
        padding: 50px;
        gap: 30px;

        .boxy {
                width: 100px;
                height: 100px;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background-color: var(--green);
                font-weight: 600;
                color: var(--light);
        }

        .circle {
                width: 100px;
                height: 100px;
                border-radius: 99%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                background-color: var(--purple);
                font-weight: 600;
                color: var(--light);
        }

}